h1 {
    text-align: center;
}

p {
    color: rgb(13, 66, 49);
    text-align: center;
}

.navi {
    list-style: none;
    width: 50%;
    margin: auto;

    text-align: center;
    padding: 0;
}

.navi>li {
    display: inline-block;
    border-style: outset;
    border-radius: 3px;
}

.navi>li>a:hover {
    background-color: seagreen;
}

body {
    background-color: rgb(160, 180, 138);
}

img{
    margin: auto;
    padding-left: 45vw;
    padding-right: 33vw;
}

h3 {
    text-align: center;
    color:rgb(13, 66, 49)